<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplicationBD.Properties.Settings.BDstockConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=BDstock;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>